<div class="latest-news">


	<!-- below is from portfolio sorter -->


	<!-- create empty string to append tags -->
	{% assign tagString = '' %}
	<!-- capture the process of appending tags in a list -->
	<!-- append current tag to tagString, strip all whitespace, but retain space between words -->
	{% capture listOfTags %}
	  {%- for post in site.posts -%}
	    {%- if post.content -%}
	      {%- for tag in post.content -%}
	        {{ tagString | append: tag | append: ' ' }}
	      {%- endfor -%}
	    {% endif %}
	  {% endfor %}
	{% endcapture %}

	<!-- split the list of tags, remove duplicates, and sort by alpha -->
	{%- assign tagArray = listOfTags | split: ' ' | uniq | sort -%}
	<!-- sort works by alpha -->
	{%- assign date = site.posts | sort: 'date' | reverse -%}


<!-- BREAK -->

<div class="row row-date-filter">
	<div class="col-sm-12">
    <ul class="filters h6" id="filters">
			<li><a class="current" href="#" data-filter="*">All</a></li>
      <li><a href="#" data-filter=".2020">2020</a></li>
      <li><a href="#" data-filter=".2019">2019</a></li>
      <li><a href="#" data-filter=".2018">2018</a></li>
      <li><a href="#" data-filter=".2017">2017</a></li>
      <li><a href="#" data-filter=".2016">2016</a></li>
        <li><a href="#" data-filter=".2015">2015</a></li>
          <li><a href="#" data-filter=".2014">2014</a></li>
            <li><a href="#" data-filter=".2013">2013</a></li>
      {% comment %}
      {%- for tag in tagArray -%}
        <li><a href="#" data-filter=".{{ tag }}">{{ tag | capitalize }}</a></li>
      {%- endfor -%}
      {% endcomment %}
		</ul>
	</div>
</div>

	{% assign newsPosts = site.posts | where_exp:"item", "item.categories contains 'news'" %}
	<ul>
		{%- for post in newsPosts limit:50 -%}

			{%- if post.content contains '2019' or post.date contains '2019' -%}

		{% comment %} <span><strong>{{ post.title }}</strong>. {{ post.excerpt | remove: '<p>' | remove: '</p>'  }} <a href="{{ post.url }}"><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></a></span> {% endcomment %}
			<li>
				<div class="post-date">{{ post.date | date: "%B %d, %Y" }}</div>
			<a href="{{ post.url }}"><div class="row justify-content-start"><div class="col-4"><img src="{{ site.images }}/{{ post.thumbnail }}" class="rounded media-left img-fluid" alt=""></div><div class="media-body col-8"><strong>{{ post.title }}</strong>. {{ post.content | remove: '<p>' | remove: '</p>' | remove: '<a>' | remove: '</a>' | truncatewords: 30 }} </div></div></a>
	<br>
			</li>
			{% endif %}
		{% endfor %}
	</ul>
</div>






<!-- Portfolio-->

<div class="row row-portfolio" data-columns="1">
	<div class="grid-sizer"></div>
  {%- for post in sortedRepYear -%}
		<div class="portfolio-item works-item p-2 {% for item in work.tags %}{{-item }} {% endfor %}{{ work.size -}}">
			<div class="portfolio-wrapper">
        {%- if post.date -%}
        DATE
        {% else %}
date
        {%- endif -%}
			<div class="portfolio-overlay float-center align-bottom"></div>
        <div class="portfolio-caption">
          <h3 class="portfolio-title">{{ work.title }} {% if work.yearComposed == nil %}{% else %}({{ work.yearComposed }}){% endif %}</h3>
        <!--  <div class="portfolio-subtitle font-sans-serif font-weight-normal">{{ work.commissionedOrWrittenFor }} {{ work.commissionedOrWrittenFor }}</div> -->
          <h5 class="portfolio-subtitle font-serif">
            {{ work.size }} {% for tag in work.tags %}{% if tag == 'electronics' %}and electronics{% endif %}{% endfor %}
            {% comment %}
            {%- for instrument in work.instrumentation -%}
            {%- if forloop.last == true -%}
            and {{ instrument -}}
            {% else %}
            {{ instrument | append: ', ' }}
            {%- endif -%}
            {%- endfor -%}
            {% endcomment %}

          </h5><br><br>
      <h6 class="portfolio-subtitle font-serif">{{ work.commissionedOrWrittenFor }}</h6>
        </div>
        <a class="portfolio-link" href="{{ work.url }}"></a>
			</div>
    </div>
  {%- endfor -%}
</div>
	<!-- Portfolio end-->
