<div class="latest-performance">
	{% assign performancePosts = site.posts | where_exp:"item", "item.categories contains 'performance'" %}
	<ul>
		{%- for post in performancePosts limit:90 -%}
				<li>
					<div class="post-date">{{ post.date | date: "%B %d, %Y" }}</div>
						{%- if post.location.country -%}
							<a href="{{ post.url }}"><div class="row justify-content-start"><div class="col-4"><img src="{{ site.images }}/{{ post.thumbnail }}" class="rounded media-left img-fluid" alt=""></div><div class="media-body col-8">{{ post.describe }}<br />{%- if post.event -%}{{ post.event }}<br />{%- endif -%}{%- if post.location.venue -%}{{ post.location.venue }}<br />{%- endif -%}{{ post.location.city }}, {{ post.location.country }}<br /></div></div></a>
						{%- else -%}
							<a href="{{ post.url }}"><div class="row justify-content-start"><div class="col-4"><img src="{{ site.images }}/{{ post.thumbnail }}" class="rounded media-left img-fluid" alt=""></div><div class="media-body col-8">{{ post.describe }}<br />{%- if post.event -%}{{ post.event }}<br />{%- endif -%}{%- if post.location.venue -%}{{ post.location.venue }}<br />{%- endif -%}{{ post.location.city }}, {{ post.location.state }}</div></div></a>
						{%- endif -%}
				</li>
		{% endfor %}
	</ul>
</div>
