<div class="latest-performance">
	{% assign performancePosts = site.posts | where_exp:"item", "item.categories contains 'performance'" %}
	<ul>
	<!--	{%- for post in performancePosts limit:5 -%}
				<li>
					<span class="post-date">{{ post.date | date: "%B %d, %Y" }}</span>
					{%- if post.thumbnailImage -%}
					<span>	<img src="{{ site.images }}/{{ post.thumbnailImage }}" alt="" width="150">
					{% else %}
						<img src="{{ site.images }}/works-images/thumbnails/switch_misc_400x200.jpg" alt="" width="150"></span><span>
						{%- if post.country -%}
							<a href="{{ post.url }}">{%- if post.event -%}{{ post.event }}<br />{%- endif -%}{%- if post.location.venue -%}{{ post.location.venue }}<br />{%- endif -%}{{ post.location.city }}, {{ post.location.country }}</a>
						{%- else -%}
							<a href="{{ post.url }}">{%- if post.event -%}{{ post.event }}<br />{%- endif -%}{%- if post.location.venue -%}{{ post.location.venue }}<br />{%- endif -%}{{ post.location.city }}, {{ post.location.state }}</a>
						{%- endif -%}</span>
				</li>
		{% endfor %} -->
	</ul>
</div>
