<div class="latest-news">
	{% assign newsPosts = site.posts | where_exp:"item", "item.categories contains 'news'" %}
	<ul>
		{%- for post in newsPosts limit:4 -%}
		{% comment %} <span>
			<strong>{{ post.title }}</strong>. {{ post.excerpt | remove: '<p>' | remove: '</p>' }} <a href="{{ post.url }}"><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></a></span> {% endcomment %}
			<li>
				<span class="post-date">{{ post.date | date: "%B %d, %Y" }}</span>
				<a href="{{ post.url }}">
					{%- if post.thumbnailImage -%}
					<span width="30">	<img src="{{ site.images }}/{{ post.thumbnailImage }}" alt="">
					{% else %}
						<img src="{{ site.images }}/works-images/thumbnails/switch_misc_400x200.jpg" alt=""></span>
					{%- endif -%}	<strong>{{ post.title }}</strong>. {{ post.content | remove: '<p>' | remove: '</p>' | truncatewords: 25 }}
				</a>
			</li>
		{% endfor %}
	</ul>
</div>
