/*
   HEADER AND NAVIGATION
*/
.header {
  border-bottom: 0px solid rgba(220, 220, 220, .2);
}
.header.header-small {
  background: #212121; // #2a313a;
  border-bottom: 1px solid rgba(42,49,58,0.2)
}
.header .extra-nav > ul > li > a,
.header .inner-nav > ul > li > a,
.header.header-light.header-small .extra-nav > ul > li > a,
.header.header-light.header-small .inner-nav > ul > li > a {
  color: #ddd;
}
@media (max-width: 991px) {
  .header {
    background-color: #212121;
    border-bottom: 1px solid rgba(42, 49, 58, 0.2);
    padding: 0;
  }
}
.nav-toggle > a span {
  background: #ddd;
}

/*
   BODY
*/
body {
  background: #212121;
  background-image: "assets/images/crazystavesdarkblue3.jpg";
  font-family: "Roboto", Arial, sans-serif;
    line-height: 1.75;
    font-size: 16px;
    color: #eee;
}
/* THISS IS WORKING FOR TEXT COLOR BUT NOT BACKGROUND COLOR
*/


iframe {
  background-color: #212121;
    border: 0;
}

body .layout {
    height: 100%;
    min-height: 100%;
    width: 100%;
    background-color: #212121;
}

.layout {
    opacity: 0;
    -webkit-transition: 1.0s opacity ease;
            transition: 1.0s opacity ease;
}

.layout.fade-in {
    opacity: 1;
}

.scroll-top {
    background: #eeeeee;
  color: #444;
/*
   TYPOGRAPHY
*/
h1, h2, h3, h4, h5, h6 {
  text-align: center;
}
.h4 {
    font-weight: 600;
    font-size: 16px;

}
.h3 {
    font-weight: 700;
}

h5,
.h5 {
    font-weight: 600;
    font-size: 14px;
    margin: 0 0 10px;
}

h6,
.h6 {
    font-weight: 500;
    font-size: 12px;
    margin: 0 0 10px;
}

.font-serif {
    font-family: "Lora", "Libre Baskerville", serif;
    font-style: italic;
}



h2.single-portfolio-title {
    text-align: left;
}
.portfolio-details li>h5 {
    text-align: center;
}
@media (min-width: 991px) {
  .portfolio-details li>h5 {
      text-align: left;
  }
}

.rep a {
    color: #999;
}

footer aside .fa {
  font-size: 20px;
  padding: 0rem 0.5rem;
}

/*
   works
*/
.filters>li {
  margin: 10px 15px;
}
.filters {
  padding-bottom: 40px;
}

/*
   SPECIALTY
*/
.offset:before {
  display: block;
  position: relative;
 	content: "";
  width: 0;
	height: 100px;
  margin-top: -100px;
}
@media (max-width: 991px) {
  .offset:before {
    display: block;
    position: relative;
   	content: "";
    width: 0;
  	height: 100px;
    margin-top: -100px;
  }
}

.breakout {
    margin-left:-100%;
    margin-right:-100%;
}

/*.works-item {
  min-height: 325px;
}*/

/*
   GOOGLE MAPS API FOR CONCERTS
*/
.maps-container {
  height: 300px;
}
#map-canvas {
  height: 100%;
}
#inputs {
  display: none;
}

/*
  FOOTER
*/
.widget ol li, .widget ul li {
    border-bottom: 0px solid rgba(238, 238, 238, .9);
}

/*!------------------------------------------------------------------
[Preloader]
*/

.pace .pace-progress {
    background: #4a90e2;
}

.page-loader {
    background: #333;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 9998;
}

/*------------------------------------------------------------------
[Accordions]
*/

.accordion .card {
    border-color: #eaeaea;
    border-radius: 0;
    border-bottom: 0;
}

.accordion .card:last-child {
    border-bottom-left-radius: .25em;
    border-bottom-right-radius: .25em;
}

.accordion .card:first-child {
    border-top-left-radius: .25em;
    border-top-right-radius: .25em;
}

.accordion .card .card-body {
    border-bottom: 1px solid #eaeaea;
    color: #999;
}

.accordion .card-header {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 12px;
    background-color: #f7f7f7;
    border-color: #eaeaea;
    padding: 12px 18px;
}

.accordion .card-header a {
    position: relative;
    display: block;
    color: #999;
}

.accordion .card-header a:hover,
.accordion .card-header a:focus {
    color: #111;
}

.accordion .card-header a:after {
    position: absolute;
    content: "\f107";
    top: 50%;
    right: 0;
    margin-top: -7px;
    font-family: "Arial";
    font-size: 14px;
    line-height: 1;
}

.accordion .card-header a > i,
.accordion .card-header a > span {
    margin-right: 5px;
}

/*------------------------------------------------------------------
[Modules]
*/

.module,
.module-sm,
.module-header {
    background-color: #313131;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 250px 0
}

.module.module-divider-top,
.module-sm.module-divider-top,
.module-header.module-divider-top {
    border-top: 1px solid #313131;
}

.module.module-divider-bottom,
.module-sm.module-divider-bottom,
.module-header.module-divider-bottom {
    border-bottom: 1px solid #313131;
}

.module,
.module-sm {
    background-color: #333;
    padding: 100px 0;
}

.module-sm {
    padding: 30px 0;
}

.module-gray {
    background-color: #212121;
}

.pager-active {
  background-color: #212121;
}
